.header__title {
	width: 85%;
	margin: 10px auto 20px;
	font-size: 0.7em;

	p {
		font-family: $sans-serif-font;
		font-size: 1.1em;
		margin: 0;
	}

	h1 {
		font-weight: normal;
		font-size: 1.5em;
		margin: 0;
	}

	@media screen and (min-width: $break-tiny) {
		h1 {
			font-size: 2em;
		}
	}

	@media screen and (min-width: $break-small) {
		margin: 40px auto 90px;

		h1 {
			font-size: 2.5em;
		}
	}

	@media screen and (min-width: $break-large) {
		
	}
}