.header {
	color: #ffffff;

	a {
		color: #ffffff;
		text-decoration: none;
	}
	
	svg {
		fill: #fff;
		width: 165px;
		height: 20px;
		transition: fill 100ms linear;

		&:hover {
			fill: $secondary-article-background-color;
		}
	}

	@media screen and (min-width: $break-small) {
		background-color: $transparent-white;

		// svg {
		// 	width: 151px;
		// 	height: 50px;
		// }
	}
}
