.header__nav__list__item {
	border-top: 1px solid #fff;

	a {
		font-size: .77em;

		display: inline-block;

		width: 100%;
		height: 100%;
		padding: 10.5px 30.5px;

		transition: background-color 100ms linear;
		letter-spacing: .01em;

		background-color: $light-text-color;

		&:hover,
		&[aria-current] {
			color: $text-color;
			background-color: #fff;
		}
	}

	&:first-child {
		border-top: none;
	}


	@media screen and (min-width: $break-tiny) {
		a {
			font-size: .86em;
		}
	}

	@media screen and (min-width: $break-small) {
		font-size: .9em;

		display: inline-block;

		margin: 0;

		text-align: center;

		border-top: none;
		border-right: 1px solid #fff;

		flex-grow: 1;

		&:last-child {
			border-right: none;
		}

		a {
			padding: 5px 10px;

			transition: background-color 100ms linear;

			background-color: $transparent-black;
		}
	}

	@media screen and (min-width: $break-large) {
		a {
			padding: 15px 10px;
		}
	}
}
