.article--secondary {
	background-color: $secondary-article-background-color;
	font-family: $sans-serif-font;

	h2 {
		font-size: 1.2em;
		margin: 0 0 1rem 0;
	}
	
	.article-type {
		color: $light-text-color;
		margin: 0 0 0.2rem 0;

		&:before {
			content: none;
		}
	}
}