@import "article";

.article-container {

    display: flex;
    justify-content: space-between;

	@media screen and (min-width: $break-small) {
		padding-top: 50px;
	}

	background-image: linear-gradient($article-background-color, $article-background-color);
	background-size: 10px 100%;
	background-repeat: no-repeat;
	background-position: 50% 50px;

	ol, ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li:last-child > .article {
		margin: 0 auto;
	}
}
