.article {
	width: 85%;
	margin: 2em auto 2em;
	padding: 20px;

	background-color: $article-background-color;
	box-shadow: 5px 5px 5px rgba(0,0,0,.2);

	h2 {
		font-size: 1.4rem;

		margin: 0 0 1rem 0;

		@media screen and (min-width: $break-tiny) {
			font-size: 1.6rem;

			margin: 0 0 1.6rem 0;
		}

		a {
			color: $text-color;
		}
	}

	a {
		text-decoration: none;

		color: #069;

		&:hover {
			text-decoration: underline;
		}
	}

	.article-type {
		font-family: $sans-serif-font;
		font-size: .9rem;
		font-weight: 700;

		position: relative;

		margin: 0 0 .6rem 0;
		margin-left: 15px;

		text-transform: uppercase;

		color: $light-text-color;

		&:before {
			position: absolute;
			top: .5em;
			left: -15px;

			width: 10px;
			height: 10px;

			content: '';

			border-radius: 5px;
			background-color: $light-text-color;
		}
	}

	@media screen and (min-width: $break-small) {
		width: 30em;
		margin: 0 auto 5em;
	}

	@media screen and (min-width: $break-large) {
		width: 40em;
	}
}

.article__author-list {
	font-family: $sans-serif-font;
	font-size: .8rem;
	font-weight: 600;

	width: 100%;
	margin: 0;
	padding: 0;

	list-style: none;

	text-transform: uppercase;
}

.article__author-list__item {
	display: inline;

	margin-right: .5em;
}

.article__credit {
	font-family: $sans-serif-font;
	font-size: .8rem;
	font-style: italic;
	line-height: 1rem;

	margin: 0 0 .6rem 0;

	text-align: right;

	color: $light-text-color;
}
