.article {
	padding: 20px;
	background-color: $article-background-color;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

	width: 85%;
	margin: 2em auto 2em;

	h2 {
		font-size: 1.4rem;
		margin: 0 0 1rem 0;

		@media screen and (min-width: $break-tiny) {
			font-size: 1.6rem;
			margin: 0 0 1.6rem 0;
		}

		a {
			color: $text-color;
		}
	}
	
	a {
		color: #069;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	.article-type {
		font-family: $sans-serif-font;
		color: $light-text-color;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.9rem;
		margin: 0 0 0.6rem 0;
		position: relative;
		margin-left: 15px;

		&:before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: $light-text-color;
			top: 0.5em;
			left: -15px;
			border-radius: 5px;
		}
	}

	@media screen and (min-width: $break-small) {
		width: 30em;
		margin: 0 auto 5em;
	}

	@media screen and (min-width: $break-large) {
		width: 40em;
	}
}

.article__author-list {
	font-family: $sans-serif-font;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;

}

.article__author-list__item {
	display: inline;
}

.article__credit {
	font-family: $sans-serif-font;
	color: $light-text-color;
	font-style: italic;
	font-size: 0.8rem;
	line-height: 1rem;
	margin: 0 0 0.6rem 0;
	text-align: right;
}
