#pixi-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	opacity: 1;

	background-image:
		radial-gradient(
			#850b46 0%,
			#420039 100%
	);

	transition:opacity 500ms;

	// filter:url('#goo');
}

// Only apply the transition if JS is available
#pixi-container.hidden {
	opacity: 0;
}

