$article-background-color: #fff;
$secondary-article-background-color: #ededed;
$dark-background-color: #262621;
$journal-color: #920B24;
$header-background-color: #4a023b;
$transparent-black: rgba(0, 0, 0, 0.7);
$transparent-white: rgba(200,200,200,0.7);
$text-color: #333;
$light-text-color: #666;
$logo-color: #5C2483;

$break-tiny: 600px;
$break-small: 880px;
$break-large: 1000px;