@import "includes/fonts";
@import "includes/variables";

@import "sections/header/header";
@import "sections/header/header__banner";
@import "sections/header/header__title";
@import "sections/header/header__title__inner";
@import "sections/header/header__nav";
@import "sections/header/header__nav__list";
@import "sections/header/header__nav__list__item";
@import "sections/article-container/article-container";
@import "sections/article-container/article";
@import "sections/article-container/article--with-image";
@import "sections/article-container/article--with-video";
@import "sections/article-container/article--secondary";
@import "sections/article-container/article--inner";
@import "sections/article-container/article__header-flex-container.scss";
@import "sections/article-container/article__image-flex-container.scss";
@import "sections/article-container/article__text-flex-container.scss";
// @import "sections/podcast";
@import "sections/pixi";
@import "sections/timeline-container";
@import "sections/animation-control";
@import "sections/footer";
@import "sections/advert";

@import "sections/background";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	color: $text-color;
	font-family: $serif-font;
	font-size: 17px;
	
	background-color: #420039;
	
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	font-weight: 700;
}

p {
	margin: 0 0 0.8rem 0;
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	position: absolute!important;
	clip: rect(1px,1px,1px,1px);
}
